<html lang="en-US">
  <head>
    <title>PARSEC Test Stand</title>
    <meta charset="utf-8" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        // Use a "/socket" namespace.
        const namespace = '/socket';
        const clientId = `webClient`

        // Connect to the Socket.IO server.
        let socket = io.connect(`${location.protocol}//${document.domain}:${location.port}${namespace}`);

        // Event handler for new connections. Invoked on connection to server.
        socket.on('connect', () => {
          socket.emit('cl_connect', { clientId });
        });

        // Event handler for server sent data.
        // The callback function is invoked whenever the server emits data
        // to the client. The data is then displayed in the "Received"
        // section of the page.
        socket.on('server_message', function(msg) {
          $('#log').append('<br>' + $('<div/>').text('Received message from server.').html());
        });

        // Code to send a ping to the server every sec.
        let ping_pong_times = [];
        let start_time;
        window.setInterval(() => {
          start_time = (new Date).getTime();
          socket.emit('cl_ping');
        }, 1000);

        // Code to handle the pong message
        socket.on('sv_pong', function() {
          let latency = (new Date).getTime() - start_time;
          ping_pong_times.push(latency);
          ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
          let avg = ping_pong_times.reduce((acc, val) => {
            return acc + (val / ping_pong_times.length);
          });
          $('#ping-pong').text(Math.round(10 * avg) / 10);
        });

        // Handlers for the different forms in the page.
        $('form#message').submit((event) => {
          socket.emit('cl_msg', { data: $('#message_data').val() });
          return false;
        });

        $('form#valve_sequence').submit((event) => {
          socket.emit('valve_seq', { valve_seq: JSON.parse($('#valve_sequence_data').val()) });
          return false;
        });

        $('form#emergency_stop').submit((event) => {
          socket.emit('emergency_stop');
          return false;
        });

        $('form#disconnect').submit((event) => {
          socket.emit('disconnect_request');
          return false;
        });
      });
    </script>

    <style>
      form {
        display: inline-block;
        border-bottom: 1px solid #CCC;
        margin-bottom: 8px;
        padding: 0 8px 8px;
      }

      input[type=text], label {
        width: 300px;
        display: inline-block;
      }

      input[type=submit] {
        width: 100px;
        padding: 0 5px;
      }
    </style>
  </head>
  <body>
    <h1>PARSEC</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>

    <h2>Send:</h2>
    <form id="message" method="POST" action='#'>
      <input type="text" name="message_data" id="message_data" placeholder="Message" />
      <input type="submit" value="Message" />
    </form>

    <br />

    <form id="valve_sequence" method="POST" action='#'>
      <input type="text" name="valve_sequence_data" id="valve_sequence_data" placeholder="Valve Sequence" />
      <input type="submit" value="Send" />
    </form>

    <br />

    <form id="emergency_stop" method="POST" action='#'>
      <label>Emergency Stop:</label>
      <input type="submit" value="STOP" />
    </form>

    <br />

    <form id="disconnect" method="POST" action="#">
      <label>Server Disconnect:</label>
      <input type="submit" value="Disconnect" />
    </form>

    <h2>Receive:</h2>
    <div id="log"></div>
  </body>
</html>
